<html>
	<head>
		<title>Weather App</title>
		<link rel="stylesheet" type="text/css" href="styles.css" />
	</head>
	<body background="background.png">

		<div class="top-left">
			<img id="logo" src="logo.png" />
		</div>

		<ul id="nav">
   		<li id="nav-home"><a href="/home">Home</a></li>
   		<li id="nav-forecast"><a href="/weatherForecast">Forecast Weather</a></li>
   		<li id="nav-getWeather"><a href="getWeatherDB">Get weather from DB</a></li>
		</ul>

		<div class="weather-app">
			<div class="left">
				<div class="temperature"><span id="temperature"><%= data.temperature %></span>&deg;</div>
				<div class="location"><span id="location"><%= data.location %></span></div>
			</div>
			<div class="right">
				<div class="top">
					<img id="icon" width="75px" src="<%= data.source %>.png" />
				</div>
				<div class="bottom">
					<div class="humidity">
						<img src="humidity.png" height="16px" />
						<span id="humidity"><%= data.humidity %></span>%
					</div>
					<div class="wind">
						<span id="wind"><%= data.wind %></span> Kts <span id="direction"><%= data.direction %></span>
					</div>
				</div>
			</div>
		</div>

		<div class="weather-data">
			<form id ="data" method="post" action="/weatherForecast">
				<label for="url"><strong>Enter the coordinate name to forcast weather :</strong></label>
				<input type="text" style="border-radius:9px" name="route" value="<%= coord.route %>"/>
      	<input type="submit" style="border-radius:9px" value="Forcast Weather"/>
    	</form>
		</div>

		<div id="map"></div>
     <script type="text/javascript">

      var map;
      function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= data.latitude %>, lng: <%= data.longitude %>},
          zoom: 8
        });

				var image = <%= data.source %> + ".png";
		  	var beachMarker = new google.maps.Marker({
		    	position: {lat: <%= data.latitude %>, lng: <%= data.longitude %>},
		    	map: map,
		    	icon: image
		  	});
      }

     </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
    async defer></script>

	</body>
</html>
